﻿@{
    ViewBag.Title = "Copy";
}

<h2>Copy Program</h2>

@using(Html.BeginForm("Copy", "Program")){
    <div class="editor-label">
        @Html.Label("Program to copy")
    </div>
    <div class="editor-field">
        @Html.DropDownList("sourceId", ViewBag.sourceId as SelectList, " -- ")
    </div>

    <div class="editor-label">
        @Html.Label("Organization for new program")
    </div>
    <div class="editor-field">
        @Html.DropDownList("newOrgId", ViewBag.newOrgId as SelectList, " -- ")
    </div>

    <div class="editor-label">
        @Html.Label("Newprogram name")
    </div>
    <div class="editor-field">
        @Html.TextBox("name")
    </div>
    <input type="submit" />
}