﻿@model SummerReadingData.Model.Program

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Program</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecurringPrize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecurringPrize)
            @Html.ValidationMessageFor(model => model.RecurringPrize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrganizationId, "Organization")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.OrganizationId, ViewBag.OrganizationId as SelectList, " -- ")
            @Html.ValidationMessageFor(model => model.OrganizationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MetricId, "Metric")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.MetricId, ViewBag.MetricList as SelectList, " -- ")
            @Html.ValidationMessageFor(model => model.MetricId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker();
        });
    </script>
}
