﻿@model SummerReadingData.Model.Program

@{
    ViewBag.Title = "Edit";
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="float-div-left width40p">
@using (Html.BeginForm())
{
    <h2>Program</h2>
    @Html.ValidationSummary(true)

    
    <div>
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MetricId, "Metric")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MetricId")
            @Html.ValidationMessageFor(model => model.MetricId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecurringPrize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecurringPrize)
            @Html.ValidationMessageFor(model => model.RecurringPrize)
        </div>

        <div>
            @Html.HiddenFor(m => m.OrganizationId)
            <input type="submit" value="Save" />
        </div>      
    </div>
}
     @if (Model.Metric.Description.StartsWith("Poi"))
        {
            using (Ajax.BeginForm("AddActivityAJax", "Program", new AjaxOptions { UpdateTargetId = "activity-list" }, new { @id = "activity-form" }))
            {
                <h2>Activities</h2>
                @Html.Hidden("programid", Model.Id)

                <div id="activity-list">
                    @Html.Partial("_ActivityList", Model.Activities)           
                </div>
                
                @Html.ValidationSummary(true)
                @Html.Label("Description:") @Html.EditorFor(m => (new Activity()).Description)
                @Html.Label("Value:") @Html.EditorFor(m => (new Activity()).Value) @Html.ValidationMessageFor(m => (new Activity()).Value)
                <br />
                <input type="submit" value="Add Activity" />
            }
        }
</div>

@using (Ajax.BeginForm("AddPrizeAjax", "Program", new AjaxOptions { UpdateTargetId = "prize-list", OnComplete = "ClearFields" }, new { @class = "float-div-left", id = "prize-form", style = "width:50%;" }))
{
    <h2>Prizes</h2>
    @Html.Hidden("programid", Model.Id)
    <div id="prize-list">                   
        @Html.Partial("_PrizeList", Model.Prizes)        
    </div>
          
    <div id="prize-ajax-form-fields">
    @Html.ValidationSummary()
    @Html.Label("Description:") @Html.EditorFor(m => (new SummerReadingData.Model.Prize()).Description)
    @Html.Label("Requirement:") @Html.EditorFor(m => (new SummerReadingData.Model.Prize()).Requirement)
    @Html.Label("Quantity:") @Html.EditorFor(m => (new SummerReadingData.Model.Prize()).InitialQuantity)
    <br />
    <input type="submit" value="Add Prize" />
        </div>
    
}

@section Scripts {
   

    <script type="text/javascript">
        function ClearFields()
        {
                $('#prize-form').trigger("reset")
                $("#Description").focus();
        }

        $(document).ready(function () {
            $('.date').datepicker();
        });
        //$("#prize-form").submit(function (event) {

        //    //event.preventDefault();

        //    //var $form = $(this),
        //    //    description = $form.find('input[name="Description"]').val(),
        //    //    requirement = $form.find('input[name="Requirement"]').val(),
        //    //    initialQuantity = $form.find('input[name="InitialQuantity"]').val(),
        //    //    url = $form.attr('action');

        //    //var posting = $.post(url, { Description: desc,Requirement: requi, InitialQuantity: initialQuantity });

        //    //posting.done(function (data) {
        //    //    var content = $(data).find('#prize-list');
        //    //    $("#result").empty().append(data);
        //    //});

        //    $(this).trigger("reset");
        //    $("#Description").focus();
        //});        
    </script>
}
