﻿@model IEnumerable<SummerReadingData.Model.Program>

@{
    ViewBag.Title = "Index";
}
<h2>Programs</h2>
<p>
    @if (ViewContext.HttpContext.User.IsInRole("Admin")) 
    {
        @Html.ActionLink("Create Program", "Create") <text>|</text> @Html.ActionLink("Clone Program", "Copy")
    }
</p>
<table id="program-table">
    <tr>
        <th class="program-name-column">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.Label("Location")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="program-name-column">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>    
        <td>
            @Html.DisplayFor(modelItem=> item.Organization.Name)
        </td>  
        <td class="links-column">
            @Html.GenerateEditDeleteDetailsLinks("Admin", "Program", item.Id)
        </td>
    </tr>
}

</table>
