﻿@model IEnumerable<Activity>

@if (Model.Count() > 0)
{
    <table>
        <tr>
            <th> Description </th>
            <th> Value </th>
            @if (ViewBag.EditMode == true) { <th></th> }
        </tr>

        @foreach (var a in Model)
        {
            <tr> 
                <td> @a.Description </td>
                <td> @a.Value @if (a.Value == 1) { @a.Program.Metric.Description.TrimEnd('s'); } else { @a.Program.Metric.Description; } </td>
                @if (ViewBag.EditMode == true) { <td> @Html.ActionLink("Edit", "Edit", "Activity", new { id=a.Id }, null) </td> }
            </tr>
        }
    </table>
}