﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - CLC Summer Reading</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css");
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("CLC Summer Reading", "Index", "Home")</p>
                    <div id="username-search">
                        @using (Html.BeginForm("Search", "Patron", FormMethod.Post, new { style = "display:inline" }))
                        {
                            @Html.Label("Username", new { @id = "username-search-label" }) 
                            @Html.TextBox("term", string.Empty, new { @id = "username-search-textbox" }) 
                            <input type="submit" value="Search" />
                        }
                        <span>@Html.ActionLink("Add Library Patron", "AddLibraryPatron", "Patron") | @Html.ActionLink("Add Non-Library Patron", "AddNonLibraryPatron", "Patron")</span>
                    </div>
                </div>
                <div class="float-right">
                    <section id="login">
                        Hello, <span class="username">@User.Identity.Name</span>!
                    </section>
                    <nav>
                        <ul id="menu">                            
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Patrons", "Index", "Patron")</li>
                            <li>@Html.ActionLink("Programs", "Index", "Program")</li>
                            @if(ViewContext.HttpContext.User.IsInRole("Admin")) { <li>@Html.ActionLink("Staff", "Index", "StaffMember")</li> }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    </body>
</html>
