﻿@model Patron

@using (var db = new SummerReadingData.SummerReadingDb()) 
{
    var logsum = Model.ReadingLogs.Sum(rl=>rl.Value);
    <h2> Prizes </h2>
    <table id="patron-prize-list" class="width100p">
        <tr>
            <th> @Html.LabelFor(m=>(new Prize()).Description) </th>
            <th class="reqcolumn"> @Html.Label("Req")  </th>
            <th> @Html.Label(Model.CurrentProgram.RecurringPrize ? "Last Received" : "Received") </th>
        </tr>
    @foreach (var prize in db.GetAllPrizesForPatron(Model).OrderBy(p=>p.Requirement))
    {
        <tr>
            <td>
                @prize.Description
            </td>
            <td class="reqcolumn">
                @prize.Requirement
            </td>
            @if (db.PatronOwedPrize(Model, prize)) 
            {
                if(Model.CurrentProgram.RecurringPrize ? true : db.AwardedPrizes.Any(ap=>ap.PrizeId == prize.Id && ap.PatronId == Model.Id) == false)
                {
                    <td>                      
                        @using (Ajax.BeginForm("Award",
                            "Prize",
                            null,
                            new AjaxOptions
                            {
                                UpdateTargetId = String.Format("award-prize-link-{0}", prize.Id)
                            },
                            new { @id = String.Format("award-prize-link-{0}", prize.Id) }
                            )
                        )
                        {
                            @Html.Hidden("prizeid", prize.Id)
                            @Html.Hidden("patronid", Model.Id)
                            <span>Not yet awarded</span>
                            <input type="submit" value="Award" />
                        }
                    </td>   
                }                                       
            }
            else 
            {
                if (db.AwardedPrizes.Any(ap=>ap.PatronId == Model.Id && ap.PrizeId == prize.Id))
                {
                <td>
                    @{var awardedPrize = db.AwardedPrizes
                                            .Where(ap => ap.PatronId == Model.Id && ap.PrizeId == prize.Id)
                                            .OrderByDescending(ap=>ap.DateAwarded)
                                            .First().DateAwarded;}

                    @String.Format("{0}", awardedPrize.HasValue ? awardedPrize.Value.ToShortDateString() : "Not yet awarded")
                </td>
                }  
                else
                {
                    <td></td>
                }
            }

                
            @* @if (Model.Program.RecurringPrize)
            {
                      
            }
            else
            {
                if (db.AwardedPrizes.Any(ap=>ap.PatronId == Model.Id && ap.PrizeId == prize.Id))
                {
                <td>
                    @{var awardedPrize = db.AwardedPrizes.Single(ap => ap.PatronId == Model.Id && ap.PrizeId == prize.Id).DateAwarded;}

                    @String.Format("{0}", awardedPrize.HasValue ? awardedPrize.Value.ToShortDateString() : "Not yet awarded")
                </td>
                }  
                                        
            }*@
                
        </tr>
    }
    </table>
}