﻿@model IEnumerable<Patron>

<table>
    <tr>
        <th> Username </th>
        <th class="namecolumn"> Name </th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td class="namecolumn"> @p.Username </td>
            <td> @string.Format("{0} {1}", p.FirstName, p.LastName) </td>            
        </tr>
    }
</table>