﻿@model IEnumerable<SummerReadingData.Model.Prize>

@if (Model.Count() > 0) 
{
    <table>
        <tr>
            <th> Description </th>
            <th> Requirement </th>
            @if (!Model.First().Program.Organization.Name.StartsWith("Fai")) { <th> Quantity Remaining </th> }
            @if (ViewBag.EditMode == true) { <th></th> }
           
       
        </tr>
    @foreach (var p in Model.OrderBy(p=>p.Requirement))
    {
        <tr>
            <td> @p.Description </td>
            <td> @p.Requirement @if (p.Requirement == 1) { @p.Program.Metric.Description.TrimEnd('s'); } else { @p.Program.Metric.Description; } </td>
            @if (!Model.First().Program.Organization.Name.StartsWith("Fai")) { <td>  @p.CurrentQuantity </td> }
            @if (ViewBag.EditMode == true) { <td> @Html.ActionLink("Edit", "Edit", "Prize", new { id=p.Id }, null) </td> }
        </tr>
    }
    </table>
}