﻿@model IEnumerable<Program>

<table>
    <tr>
        <th> Name </th>
        <th> Start Date </th>
        <th> End Date </th>
        <th> Recurring Prize </th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td> @p.Name </td>
            <td> @p.StartDate.ToShortDateString() </td>
            <td> @p.EndDate.ToShortDateString() </td>
            <td> @p.RecurringPrize </td>
        </tr>
    }
</table>