﻿@model IEnumerable<ReadingLog>

@if (Model.Count() > 0) 
{
<table>
    <tr>
        <th class="log-date-column"> @Html.Label("Date") </th>
        <th class="log-description-column"> 
            @if (Model.First().Program.Metric.Description.StartsWith("Poi"))
            {
                @Html.Label("Activity")
            }
            else
            {
                @Html.Label("Book Title")
            }
        </th>
        <th class="log-value-column"> @Html.Label("Value") </th>
    </tr>
@foreach (var rl in @Model)
{
    <tr>
        <td class="log-date-column"> @rl.LogTime.ToShortDateString() </td>
        <td class="log-description-column"> 
            @if (Model.First().Program.Metric.Description.StartsWith("Poi"))
            {
                @((rl.Activity ?? new Activity()).Description)
            }
            else
            {
                @rl.BookTitle
            }
        </td>
        <td class="log-value-column"> @rl.Value @if (rl.Value == 1) { @rl.Program.Metric.Description.TrimEnd('s'); } else { @rl.Program.Metric.Description; } </td>
    </tr>    
}

</table>
}