﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
    <br />
    @Model.Exception.Message <br /><br />
    @Model.Exception.StackTrace <br /><br /><br /><br />
    @if (Model.Exception.InnerException != null)
    {
        @Model.Exception.InnerException.Message<br /><br />
        @Model.Exception.InnerException.StackTrace <br />
    }
</hgroup>
