﻿@model SummerReadingRewrite.Models.AddLibraryPatronViewModel

@{
    ViewBag.Title = "Add Library Patron";
}

<h2>Add Library Patron</h2>

@using(Html.BeginForm("AddLibraryPatron", "Patron"))
{
    @Html.ValidationSummary()
    @Html.LabelFor(m => m.Barcode) @Html.EditorFor(m => m.Barcode)
    @Html.LabelFor(m=>m.Programs) 
    @Html.DropDownListFor(m => m.ProgramId, new SelectList(Model.Programs.Select(p=>new { Id = p.Id, Name = String.Format("{0} - {1}", p.Name, p.Organization.Name)}), "Id", "Name"))
    <br />
    <input type="submit" />
}
