﻿@model SummerReadingRewrite.Models.AddNonLibraryPatronViewModel

@{
    ViewBag.Title = "Add Non-Library Patron";
}

@Html.ValidationSummary()

@using(Html.BeginForm("AddNonLibraryPatron","Patron"))
{
    <h2>Add Non-Library Patron</h2>
    <div>
        @Html.LabelFor(m=>m.Programs) 
        @Html.DropDownListFor(m => m.ProgramId, new SelectList(Model.Programs.Select(p=>new { Id = p.Id, Name = String.Format("{0} - {1}", p.Name, p.Organization.Name)}), "Id", "Name"))
    </div>
    <div>
        @Html.LabelFor(m=>m.Username) 
        @Html.EditorFor(m=>m.Username)
        @Html.ValidationMessageFor(m=>m.Username)
    </div>
    <div>
        @Html.LabelFor(m=>m.FirstName) 
        @Html.EditorFor(m=>m.FirstName)
        @Html.ValidationMessageFor(m=>m.FirstName)
    </div>
    <div>
        @Html.LabelFor(m=>m.LastName) 
        @Html.EditorFor(m=>m.LastName)
        @Html.ValidationMessageFor(m=>m.LastName)
    </div>
    <div>
        @Html.LabelFor(m=>m.Birthdate) 
        @Html.EditorFor(m=>m.Birthdate)
        @Html.ValidationMessageFor(m=>m.Birthdate)
    </div>
    <div>
        @Html.LabelFor(m=>m.Phone) 
        @Html.EditorFor(m=>m.Phone)
        @Html.ValidationMessageFor(m=>m.Phone)
    </div>
    <div>
        @Html.LabelFor(m=>m.Email) 
        @Html.EditorFor(m=>m.Email)
        @Html.ValidationMessageFor(m=>m.Email)
    </div>
    <div>
        <button type="submit">Register Patron</button>
    </div>
}

@section Scripts{

    <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
    <script>
        $('#Birthdate').mask("99/99/9999");
        $('#Phone').mask("(999) 999-9999");
    </script>
}