﻿@model SummerReadingRewrite.Models.AddLibraryPatronViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



@using(Html.BeginForm("AddLibraryPatron", "Patron",FormMethod.Post)) 
{
  @Html.EditorFor(m => m.Barcode)
<br />
<button type="submit"></button>
}