﻿@model SummerReadingData.Model.Patron
@using SummerReadingData

@{
    ViewBag.Title = "Details";
}

<div>
    <p>
        @Html.ActionLink("Edit patron", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
<div id="patron-details-info" class="float-div-left width100p">
    
    <table class="width100p">
        <tr>
            <td>
                @Html.LabelFor(model => model.FirstName)
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.LabelFor(model => model.LastName)
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Html.LabelFor(model => model.Username)
                @Html.DisplayFor(model => model.Username)
            </td>        
            <td>
                @Html.LabelFor(model => model.Birthdate)
                @Html.DisplayFor(model => model.Birthdate)
            </td>
            <td>
                @Html.LabelFor(model => model.Email)
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.LabelFor(model => model.Phone)
                @Html.DisplayFor(model => model.Phone)
            </td>
            <td>
                @Html.LabelFor(model => model.CurrentProgram.Name)
                @Html.DisplayFor(model => model.CurrentProgram.Name)
            </td>
        </tr>             
    </table>    
    
    
</div>
    <div class="width100p">
    <div id="details-log-list" class="float-div-left border-right">
    <h2> Reading Log Entries</h2>  
    <div id="log-list">
        
        @Html.Partial("_ReadinglogList", Model.ReadingLogs)
    </div>  
    @using (Ajax.BeginForm("AjaxAddReadingLog", "Patron", new AjaxOptions { UpdateTargetId = "log-list", OnComplete = "LoadPrizes" }))
    {
        @Html.Hidden("PatronId", Model.Id)
        @Html.Hidden("programid", Model.CurrentProgram.Id)
        <h3>Add Reading Log Entry</h3>
        if (Model.CurrentProgram.Metric.Description.StartsWith("Poi"))
        {
            @Html.Hidden("Value", 1)
            @Html.Label("Activity") @Html.DropDownList("ActivityId", "--")
        }
        else
        {            
            @Html.LabelFor(m=>(new ReadingLog()).BookTitle)
            @Html.EditorFor(m=> (new ReadingLog()).BookTitle)
            <br />
            @Html.LabelFor(m => (new ReadingLog()).Value)
            @Html.EditorFor(m => (new ReadingLog()).Value, "_ShortNumericTextBox")            
        }
        <br />
        <input type="submit" value="Submit" />
    }  
    </div>


    <div id="details-prize-list" class="float-div-left">
        
        @Html.Partial("_PatronPrizeList", Model)
    </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        function LoadPrizes()
        {
            $("#details-prize-list").load("@Url.Action("GetPrizeList", new { @patronId = Model.Id })");
        }

        function ClearFields()
        {
            $('#prize-form').trigger("reset")
            $("#Description").focus();
            LoadPrizes();
        }
    </script>
}