﻿@model IEnumerable<SummerReadingData.Model.Patron>

@{
    ViewBag.Title = "Index";
}

<h2>Patrons</h2>


@using (Html.BeginForm("Search", "Patron"))
{
    @Html.Label("Search:", new { @id = "search-label" }) 
    @Html.TextBox("term", string.Empty, new { @id = "search-textbox" }) 
    <input type="submit" value="Search" />
}


<p>
    @Html.ActionLink("Add Library Patron", "AddLibraryPatron") | @Html.ActionLink("Add Non-Library Patron", "AddNonLibraryPatron")
</p>
<table class="list-table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th class="patron-birthdate-column">
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th class="program-name-column">
            Program
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @String.Format("{0} {1}", item.FirstName, item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td class="patron-birthdate-column">
            @Html.DisplayFor(modelItem => item.Birthdate, "ShortDateTime")
        </td>
        <td class="program-name-column">
            @Html.DisplayFor(modelItem => item.Registrations.First().Program.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |            
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
