﻿@model SummerReadingData.Model.Patron

@{
    ViewBag.Title = "Patron Added Successfully";
}

<h2>Patron Added Successfully</h2>

<p> Patron '@Model.FirstName @Model.LastName' was added successfully to program @Model.CurrentProgram.Name.</p>
<p>To view this patron @Html.ActionLink("click here.", "Details", new { id = Model.Id})</p>
