﻿@model SummerReadingData.Model.StaffMember

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StaffMember</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="editor-label">
            @Html.Label("Branch")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.OrganizationId, (SelectList)ViewBag.OrgList, " -- ")
            @Html.ValidationMessageFor(m=>m.OrganizationId)
        </div>
        <div class="editor-label">
            @Html.Label("Role")
        </div>
        <div class="editor-field">            
            @Html.DropDownList("RoleId", " -- ")
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>