﻿@model SummerReadingData.Model.StaffMember

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StaffMember</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="editor-label">
            @Html.Label("Branch")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.OrganizationId, (SelectList)ViewBag.OrgList)
            @Html.ValidationMessageFor(m=>m.OrganizationId)
        </div>
        <div class="editor-label">
            @Html.Label("Role")
        </div>
        <div class="editor-field">            
            @Html.DropDownList("RoleId")
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
