﻿th 
{
    border-bottom: 3px solid black;
    overflow: hidden;
    padding:5px;
    width:95px;
}

td
{
    border-bottom: 1px solid black;
    padding: 15px 8px 15px 8px;
    padding-left: 10px;
}

.namecolumn
{
    width: 125px;
}

tr:hover td
{
    background-color:#e0e0e0;
}

.noborder
{
    border:none;
}

.list-table
{
    width:100%;
}

.float-div-left
{
    float: left;
}

.border-right
{
    border-right: 1px solid black;
}

input
{
    width:200px;
}

.width20p
{
    width: 20%;
}

.width33p
{
    width:33%;
}

.width40p
{
    width:39%;
}

.width45p
{
    width: 45%;
}

.width50p
{
    width:48%;
}

.width60p
{
    width:58%;
}

.width100p
{
    width: 100%;
}

.display-label
{
    margin-top: 10px;
}

#details-prize-list
{
    padding-left:15px;
    width:55%;
}

#details-log-list
{
    width: 43%;
}

#details-log-list table
{
    width: 98%;
}

#patron-details-info
{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#prize-form, #activity-form
{
    padding-left: 10px;
}

#prize-ajax-form-fields, #activity-ajax-form-fields
{
    padding-top: 10px;
}

#home-patron-list
{
    border-right: 1px solid black;
}

#home-program-list
{
    padding-left: 30px;
}

#username-search input[type="submit"]
{
    height:25px;
    text-align:center;
    padding:2px;
    font-weight:normal;
}

#username-search-textbox
{
    width:125px;
    height:15px;
}

#username-search-label
{
    display:inline;
    padding-right: 5px;
}

.reqcolumn
{
    width: 50px;
}

#patron-details-info table, #patron-details-info td
{
    border: none;
}

.log-date-column
{
    width:20%;
}
.log-description-column
{
    width:50%;
}
.log-value-column
{
    width:30%;
}

.links-column
{
    width: 100px;
}

#program-table
{
    width: 80%;
}

.program-name-column
{
    
}

.patron-birthdate-column
{
    width:50px;
}
