﻿@model SummerReadingRewrite.Models.StaffHomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="float-div-left width45p" id="home-patron-list">
    <h2> Patrons </h2>
    <table>
        <tr>
            <th> Username </th>
            <th class="namecolumn"> Name </th>
            <th></th>
        </tr>
        @foreach (var p in Model.Patrons)
        {
            <tr>
                <td> @p.Username </td>
                <td class="namecolumn"> @string.Format("{0} {1}", p.FirstName, p.LastName) </td>      
                <td>
                    @if(ViewContext.HttpContext.User.IsInRole("Admin")) { @Html.ActionLink("Edit", "Edit", "Patron", new { id=p.Id }, null) <text>|</text>}
                    @Html.ActionLink("Details", "Details", "Patron", new { id=p.Id }, null)
                </td>      
            </tr>
        }
    </table>
</div>

<div class="float-div-left" id="home-program-list">
    <h2> Programs </h2>
    <table>
    <tr>
        <th class="namecolumn"> Name </th>
        <th> Location </th>
        <th></th>
    </tr>

    @foreach (var p in Model.Programs)
    {
        <tr>
            <td class="namecolumn"> @p.Name </td>
            <td> @p.Organization.Name </td>
            <td>
                @if(ViewContext.HttpContext.User.IsInRole("Admin")) { @Html.ActionLink("Edit", "Edit", "Program", new { id=p.Id }, null) <text>|</text>}         
                @Html.ActionLink("Details", "Details", "Program", new { id=p.Id }, null)
            </td> 
        </tr>
    }
</table>
</div>
