﻿@model SummerReadingData.Model.Prize

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Prize</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Program.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Program.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitialQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitialQuantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CurrentQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentQuantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Requirement)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Requirement)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
