﻿@model SummerReadingData.Model.Prize

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Prize</legend>

        @Html.HiddenFor(model => model.Id)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InitialQuantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InitialQuantity)
            @Html.ValidationMessageFor(model => model.InitialQuantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Requirement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Requirement)
            @Html.ValidationMessageFor(model => model.Requirement)
        </div>

        <p>
            @Html.HiddenFor(m => m.ProgramId)
            @Html.HiddenFor(m => m.CurrentQuantity)
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
